{% extends 'main/layout.html' %}

{% block title %}

Contacts!

{% endblock %}

{% block content %}
    <div class="features">
    <h1>СвязаЦа с нами можно через...</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid at deleniti dicta dolorem, eligendi et expedita fugit ipsam ipsum, nemo obcaecati provident quae quasi quibusdam reprehenderit sed soluta!</p>
    <button class="btn btn-danger" >На страничку о нас</button>
    </div>
{% endblock %}#тяжело...maybe not today