
{% extends 'main/layout.html' %}

{% block title %}
MainPage

{% endblock %}

{% block content %}


    <div class="feachers">
    <h1>Главная станица</h1>
    <h3>Привет путник садись у очага</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid at deleniti dicta dolorem, eligendi et expedita fugit ipsam ipsum, nemo obcaecati provident quae quasi quibusdam reprehenderit sed soluta!</p>
    <button class="btn btn-warning" >На страничку о нас</button>
    </div>
{% include 'main/include.html' %}{% include 'main/include.html' %}{% include 'main/include.html' %}

{% endblock %}