
{% extends 'main/layout.html' %}

{% block title %}
MainPage

{% endblock %}

{% block content %}


    <div class="features">


{% filter upper %}
        <h3>{% for i in varibales %}
            <h5>{{ i|lower }}</h5>
        {% endfor %}
        </h3>


        {% for i in dir2 %}
            {% if i == '5' %}

                <h5>{{ i }}</h5>


            {% endif %}

        {% endfor %}
    {% endfilter %}
         <h3></h3>
        {{ dir2.18|upper }}
    <h1>Главная станица </h1>
    <h3>Здравия Милсдарь</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid at deleniti dicta dolorem, eligendi et expedita fugit ipsam ipsum, nemo obcaecati provident quae quasi quibusdam reprehenderit sed soluta!</p>
    <button class="btn btn-warning" >На страничку о наших свершениях богоданного населения</button>
    </div>
{% include 'main/include.html' %}{% include 'main/include.html' %}{% include 'main/include.html' %}

{% endblock %}