{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside><!-- эт для боковой, которая не меняется части-->
    <img src="{% static 'C:\github\C#\Learn\Python-Learn\web-try web\django_learn\main\static\main\img\Mount_lake.jpg' %}" alt="Боковая картинка">
        <span class="bok_pic">Beatuful pic</span>
        <h3>for navigation</h3>
        <!-- not today bro
        <ul>
            <a href=""><li><i class="fa-solid fa-house"></i>Главная</li></a>
            <a href=""><li><i class="fa-regular fa-address-card"></i>Про нас</li></a>
            <a href=""><li><i class="fa-regular fa-address-card"></i>Будущее</li></a>
        </ul>
        -->
        <i class="fa-solid fa-house"></i>
        <ul>
            <a href=""><li><i class="fa-solid fa-house"></i>Главная</li></a>
            <a href=""><li><i class="fa-regular fa-address-card"></i>Про нас</li></a>
            <a href=""><li><i class="fa-regular fa-address-card"></i>Будущее</li></a>
        </ul>
    </aside>
    <main><!-- эт для главной части-->
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>